
body, h1, h2, ul, li, nav, header, div, a, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2f3136;
    color: #dcddde;
}

header {
    background-color: #7289da;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    color: #fff;
}

header nav {
    margin-top: 10px;
}

header nav .redir {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    background-color: #3b3d41;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav .redir:hover {
    background-color: #5b6eae;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #36393f;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    background-color: #3b3d41;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #40444b;
}

p {
    text-align: center;
    font-size: 1.1em;
}
