body {
    font-family: Arial, sans-serif;
    background-image: url(1291249.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #333;
    padding: 30px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    font-size: 28px;
    color: white;
}

p {
    margin-bottom: 25px;
    font-size: 16px;
    color: #f3eded;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-content {
    width: 100%;
}

input {
    padding: 15px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 30px; 
    background-color: #555;
    color: #fff;
}

input::placeholder {
    color: #ddd;
}

button {
    padding: 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #3879cf;
}

.signup {
    color: #f3eded; 
    text-decoration: none; 
    font-size: 16px; 
    display: inline; 
}

.signup:hover {
    text-decoration: none; 
}
